<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="css/output.css" rel="stylesheet"/>
    <title>IHP</title>
</head>
<body>
<Routes/>



@* ReSharper disable once Html.PathError *@
<script src="_framework/blazor.web.js"></script>
</body>
</html>