@using Ihp_Blazor.Models
@using Ihp_Blazor.Services
@using Ihp_Blazor.Views.Components.FeedItem
<div class="my-3 mx-1 p-3 border dark:border-stone-700 rounded grow max-w-xl text-sm truncate">
    @if (_feed is not null)
    {
        <strong class="dark:text-stone-400">@_feed.SiteName</strong>
        <ul class="feed-items">
            @foreach (var feedItem in _feed.FeedItems)
            {
                <FeedItem SyndicationItem="@feedItem"/>
            }
        </ul>
    }
    else
    {
        <p class="text-gray-400 dark:text-stone-600">Lade …</p>
    }
</div>

@code

{
    [Parameter] [EditorRequired] public required JsonUrl FeedUrl { get; set; }

    [Inject] public required IFeedsService FeedsService { get; set; }

    private LightSyndicationFeed? _feed;

    protected override async Task OnInitializedAsync()
    {
        _feed = await FeedsService.DownloadFeedAsync(FeedUrl.Url);
    }
}