@if (FeedCollectionViewModel is not null)
{
    @foreach (var feed in FeedCollectionViewModel.SiteFeeds)
    {
        <div class="my-3 mx-1 p-3 border dark:border-stone-700 rounded grow max-w-xl text-sm truncate">

            <strong class="dark:text-stone-400">@feed.SiteName</strong>
            <ul class="feed-items">
                @foreach (var feedItem in feed.FeedItems)
                {
                    <FeedItem SyndicationItem="feedItem"/>
                }
            </ul>
        </div>
    }
}
else
{
    <p>Loading</p>
}