@if (FeedCollectionViewModel is not null)
{
    @foreach (var feed in FeedCollectionViewModel.SiteFeeds)
    {
        <div class="feed-wrapper border border-green-700">
            <strong class="feed-title">@feed.SiteName</strong>
            <ul class="feed-items">
                @foreach (var feedItem in feed.FeedItems)
                {
                    <FeedItem SyndicationItem="feedItem"/>
                }
            </ul>
        </div>
    }
}
else
{
    <p>Loading</p>
}