@page "/"
@using Ihp_Blazor.Brokers
@using Ihp_Blazor.Views.Components.Feed
@attribute [StreamRendering]

<PageTitle>Index</PageTitle>
<header class="text-center">
    <!--<FeedUpdate TriggerUpdate="UpdateTriggered"></FeedUpdate>-->

    @DateTime.Now.ToString("HH:mm:ss 'Uhr'")
</header>

<hr/>
<div class="flex flex-wrap justify-evenly">
    @foreach (var feedUrl in FeedSourcesBroker.GetFeedSources())
    {
        <Feed FeedUrl="feedUrl"/>
    }
</div>

@code

{
    [Inject] private IFeedSourcesBroker FeedSourcesBroker { get; set; } = null!;
    [Inject] private ILogger<Index> Logger { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        Logger.LogInformation("First initialization");
        return Task.CompletedTask;
    }
}
