@page "/"
@using Ihp_Blazor.Views.Components.FeedUpdate
@using Ihp_Blazor.Views.Components.Feed
<PageTitle>Index</PageTitle>
<header class="text-center">
    <FeedUpdate TriggerUpdate="UpdateTriggered"></FeedUpdate>
</header>

<hr/>
<div class="flex flex-wrap justify-evenly">
    <Feed Feeds="@Feeds"/>
</div>