@page "/"
<PageTitle>Index</PageTitle>
<header class="text-center">
    <FeedUpdate TriggerUpdate="UpdateTriggered"></FeedUpdate>
</header>

<hr/>
<div class="flex flex-wrap justify-evenly">
    <Feed FeedCollectionViewModel="FeedCollectionViewModel"/>
</div>